version: '3'
services:

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - ./redis_data:/data
    networks:
      - monitor-net
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      retries: 3
      timeout: 5s

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - 5540:5540
    volumes:
      - ./redisinsight_data:/data
    networks:
      - monitor-net
    depends_on:
      - redis

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./grafana_data:/var/lib/grafana
    networks:
      - monitor-net

  postgresql:
      image: postgres:14
      hostname: postgresql
      volumes:
        - ./postgresql_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: "conduktor"
        POSTGRES_USER: "conduktor"
        POSTGRES_PASSWORD: "password"
        POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      networks:
        - monitor-net

  conduktor-console:
    image: conduktor/conduktor-console
    depends_on:
      - postgresql
    ports:
      - "8080:8080"
    volumes:
      - ./conduktor_data:/var/conduktor
    environment:
      CDK_DATABASE_URL: "postgresql://conduktor:password@postgresql:5432/conduktor"
    networks:
      - monitor-net

networks:
  monitor-net:
  
